
.container {
    margin-top: 200px;
    width: 550px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    border: solid 20px rgb(226, 32, 32);
    border-radius: 50%;
}

.box {
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(226, 32, 32);
    border: solid 20px white;
    transition: 2.5s ease;
}

.box1 {
    background-color: palevioletred;
    width: 500px;
    height:500px ;
    position: relative;
    left: 5px;
    top: 5px;
}

.box2 {
    background-color:rgb(226, 32, 32);
    width: 400px;
    height:400px ;
    position: relative;
    left: 56px;
    top: -483px;
}

.box3 {
    width: 300px;
    height:300px ;
    position: relative;
    left: 106px;
    bottom: 874px;
}

.box4 {
    background-color: cornflowerblue;
    width: 200px;
    height:200px ;
    position: relative;
    left: 157px;
    bottom: 1162px;
}

.box5 {
    width: 100px;
    height:100px ;
    position: relative;
    left: -37px;
    bottom: 1211px;
}

.box6 {
    width: 50px;
    height: 50px;
    position: relative;
    left: -146px;
    bottom: 1247px;
    border: solid white 10px;
}

.box:hover {
    filter: drop-shadow(10px 10px 10px rgb(19, 1, 1));
}

.box1:hover{
    transform: rotate(360deg);
}