body {
    background-color: rgba(241, 138, 213, 0.866);
}

span {
    background-color: rgb(25, 149, 243);
    font-size: 20px;
    box-shadow: 10px 10px 5px rgba(20, 0, 40, 0.5);
}

main {
    margin-top: 20%;
}

table{
    width: 400px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 0 2px;
    background-color: bisque;
    border: solid 4px black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

td {
    text-align: center;
    border-bottom: solid 3px;
    border-left: solid 1px;
}

.foot {
    text-align: center;
    background-color: rgb(25, 149, 243);
    border: none;
}

