body{
    background-color: bisque;
}

main {
    margin-top: 20%;
}

div {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border: solid 1px black;
    background-color: white;
    padding: 5px;
}

.uno {
    text-align: left;
}

.dos {
    text-align: center;
}

.tres {
    text-align: right;
}